@charset "UTF-8"

*
{
	margin:0;
	padding:0;
}

body
{
	color:gray;
}

header
{
	background-color:mistyrose;
}

.div1
{
	background-color:lightcyan;
}

.div2
{
	background-color:palegreen;
}


footer
{
	background-color:lightyellow;
}
