@charset "UTF-8"

*
{
	margin:0;
	padding:0;
}

body
{
	color:gray;
	margin:100px 0 0 0;
}

header
{
	background-color:mistyrose;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	text-align:center;
}

.main
{
	width:calc(100%-256px);
	min-width:765px;
	float:left;
}

.div1
{
	background-color:lightcyan;
}

.div2
{
	background-color:palegreen;
}

.div3
{
	background-color:moccasin;
}

.box
{
	width:256px;
	float:left;
	margin:10px;
}

aside
{
	position:fixed;
	top:64px;
	right:0;
	background-color:lavender;
	width:200px;
	height:512px;
	min-height:128px;
	float:right;
	text-align:center;
	overflow:auto;
}

footer
{
	text-align:center;
	background-color:lightyellow;
	clear:both;
}
