@charset "UTF-8"

*
{
	margin:0;
	padding:0;
}

body
{
	color:gray;
}

header
{
	background-color:mistyrose;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	margin:0 auto;
}

.div1
{
	background-color:lightcyan;
}

.div2
{
	background-color:palegreen;
}

aside
{
	background-color:lavender;
}

footer
{
	background-color:lightyellow;
}
